/* Color scheme
   1. #FEFEFD - off white
   2. #E4E2CF - beige
   3. #9B9F85 - pastel green
   4. #3A3B3D - shade of grey
   5. #1C2321 - dark green 
*/

body {
  text-align: center;
  justify-content: center;
  background-color: #9b9f85;
  margin: 0 20px 0 20px;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: #fefefd;
}

.title {
  color: darkblue;
}

/* Overview Component */
.container {
  display: flex;
  justify-content: center;
  font-weight: 700;
  background-color: #fefefd;
  border-radius: 2em;
  margin-bottom: 4em;
}

.text {
  width: 10;
}

.createdTasks {
  margin-right: 50px;
}

/* TodoForm Component */
.todoForm {
  display: flex;
  justify-content: center;
  margin: 30px 0 30px 0;
}

.formInput {
  margin-right: 20px;
  background-color: #9b9f85;
  border: none;
  border-bottom: #1c2321 1px solid;
  outline: none;
  font-size: 14px;
}

.formBtn {
  background-color: #3a3b3d !important;
  transition-duration: 0, 4s;
}

.formBtn:hover {
  background-color: #e4e2cf;
  color: #e4e2cf;
}

/* TodoList Component */
.ListTodosBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 10px 0;
  width: 300px;
  padding-left: 4px;
}

.todosContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e4e2cf;
  box-shadow: 0 8px 32px 0 rgba(74, 74, 76, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-bottom: 6em;
  padding: 8px 0 8px 0;
}

/* tasks buttons todo */
.todo {
  display: block;
  margin: 5px;
  background: rgba(205, 225, 234, 0.2);
  box-shadow: 0 8px 32px 0 rgba(131, 132, 145, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.todo.strike {
  text-decoration: line-through #1c2321;
}

/* buttons  */
.btnToDo {
  margin: 6px;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.1 em;
  border: 0px solid transparent;
  background-color: rgba(100, 77, 237, 0.08);
  border-radius: 1.25em;
  transition: all 0.2s linear;
}

.btn:hover {
  box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
    8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
    17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
    36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
    99px 72px 143px rgba(0, 0, 0, 0.08);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 4em;
  background-color: rgba(0, 0, 0, 0.253);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 100%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.btnClear,
.btnCompleted,
.btnAll {
  border: none;
  background: #1c2321;
  color: #ffffff;
  font-weight: 80;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease 0s;
  letter-spacing: 1px;
}

.btnClear:hover,
.btnCompleted:hover,
.btnAll:hover {
  color: #1c2321;
  font-weight: 600;
  letter-spacing: 2px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

.btnStart {
  margin-right: 4px;
}

/* pomodoro timer */
.pomodoro {
  font-size: 6em;
  color: #1c2321;
  margin: 0.3em 0 0.1em 0;
}

.timer {
  line-height: 34px;
  height: 20px;
}

/* Header Component */
header {
  font-family: "Bungee Shade", cursive;
  font-size: 40px;
  color: #e4e2cf;
}

/* Footer Component */
.footerContainer {
  background-color: #3a3b3d;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-around;
  border-radius: 10px;
  /* margin-bottom: 4px; */
}

.footerLinks {
  margin: 4px;
}

.footerLinks:hover {
  font-weight: 600;
  transition: all 0.1s ease 0s;
}

/* Media queries */
@media screen and (min-width: 1501px) {
  /* Extra large devices (large desktops, 1200px and up) */
  body {
    margin: 0 470px 0 470px;
  }
}

@media screen and (max-width: 1500px) {
  /*Tablets [601px -> 1200px]*/
  body {
    margin: 0 300px 0 300px;
  }
}

@media screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
  body {
    margin: 0 300px 0 300px;
  }
}

@media screen and (max-width: 1000px) {
  /*Tablets [601px -> 1200px]*/
  body {
    margin: 0 200px 0 200px;
  }
}

@media screen and (max-width: 800px) {
  /*Tablets [601px -> 1200px]*/
  body {
    margin: 0 100px 0 100px;
  }
}

@media screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  body {
    margin: 0 40px 0 40px;
  }
}

@media screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  body {
    margin: 0 20px 0 20px;
  }
  /* limit space list */
}

@media screen and (max-width: 320px) {
  /*Small smartphones [325px -> 425px]*/
  body {
    margin: 0 10px 0 10px;
  }
  /* limit space list */
}
