body {
  text-align: center;
  justify-content: center;
}

.title {
  color: darkblue;
}

.container {
  display:flex;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: space-between;
  border: solid 1px;
  width: 50%;
}

.text {
  width: 10;
}

/* buttons  */

.btnToDo {
  margin: 20px;
}

.btnClear,
.btnCompleted,
.btnAll {
    border: none;
    background: #404040;
    color: #ffffff;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease 0s;
  }
  
.btnClear:hover,
.btnCompleted:hover,
.btnAll:hover {
    color: #404040;
    font-weight: 700;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
  }
